@{
    ViewData["Title"] = "Voando Alto";
}

<div class="pacote2">
        <div class="card mb-12 capa content text-center" width:"300%" height="400%"> 
            <div class="card bg-light text-white">
                <img src="~/css/fundo.png" width="100%" height="200%" class="card-img" alt="Imagem de fundo mais logo">
             </div>
        
           
       </div>
 </div>


