@{
    ViewData["Title"] = "Passagens Aéreas";
}
<h1>@ViewData["Title"]</h1>

<div class="card1" style="background-image:url(https://i.pinimg.com/originals/35/8a/d5/358ad50efbdfa688b364f2c0c39ad171.jpg)">
         
          <div class="card-body1">
             <br>
             
              <br>
              <th>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="flexCheckDefault1">
                  <label class="form-check-label" for="flexCheckDefault1">
                    Ida/Volta
                  </label>
                </div>
              </th>  
                
              <th>         
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option2" id="flexCheckDefault2" checked>
                  <label class="form-check-label" for="flexCheckDefault2">
                    Somente Ida
                  </label>
                </div>
                <br>           
              </th>   
              <th>               
                <td>
                  <label for="data" class="form-label">Data de Ida</label>
                  <input type="date" id="data" placeholder=>
                </td>
                          
                <td>
                  <label for="data" class="form-label">Data de Volta</label>
                  <input type="date" id="data" placeholder=>
                </td>
              </th>
              <a class="btn btn-info" href=""  role="button">Buscar voos</a>     
              <br>    
            </div>
        </div>
        <br />
        <br />
        <div class="estilo w=100">
          
          <div class="pacote5">
           <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/veneza.png" class="card-img-top" alt="Cidade de Veneza">
                  <div class="card-body">
                    <h4 class="card-title"> Pacote Tour por Veneza</h4>
                    <p class="card-text">O melhor museu a céu aberto.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);">Pacotes Simples + Voo</a>
                    <br>
                    <h6><strike>R$4.900 </strike></h6>
                    <h4> R$3.580</h4>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Comprar pacote</a>
                    <small class="text-muted">Preço por pessoa </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/Nova york.png" class="card-img-top" alt="Cidade de Nova York">
                  <div class="card-body">
                    <h4 class="card-title">Pacote Nova York</h4>
                    <p class="card-text">O destino mais badalado para o Natal.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);">Pacotes Transl/Hospedagem + Voo</a>
                    <br>
                    <h6><strike>R$6.800 </strike></h6>
                    <h4> R$4.300</h4>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Comprar pacote</a>
                    <small class="text-muted">Preço por pessoa </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/brazil.png" class="card-img-top" alt="Cidade do Rio de Janeiro">
                  <div class="card-body">
                    <h4 class="card-title">Pacote Brasil</h4>
                    <p class="card-text">Ofertas arrasadoras para curtir o Ano Novo.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);">Pacotes Hospedagem + Voo</a>
                    <br>
                    <h6><strike>R$3.300 </strike></h6>
                    <h4> R$2.200</h4>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Comprar pacote</a>
                    <small class="text-muted">Preço por pessoa </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>